.l-main {
  background: url(../images/bg-frame.webp) center / contain;
}

.l-mv {
  position: relative;
  padding-block: 20px;
  background: url(../images/mv-bg.webp) no-repeat center / cover;
  aspect-ratio: var(--aspect-thumbnail);
}

.l-mv__title-wrapper {
  display: grid;
  gap: 15px;
}

.l-mv__title {
  max-inline-size: 210px;
  margin-inline: auto;
}

.l-mv__sub-title {
  max-inline-size: 296px;
  margin-inline: auto;
}

.l-mv__icon {
  position: absolute;
  inline-size: 16%;
}

.l-mv__icon--umigame {
  inset-block-end: 47%;
  inset-inline-start: 3%;
  max-inline-size: 62px;
}

.l-mv__icon--iruka {
  inset-block-end: 21%;
  inset-inline-start: 13%;
  max-inline-size: 51px;
}

.l-mv__icon--kumanomi {
  inset-block-end: 13%;
  inset-inline-start: 31%;
  max-inline-size: 56px;
}

.l-mv__icon--maguro {
  inset-block-end: 13%;
  inset-inline-end: 33%;
  max-inline-size: 58px;
}

.l-mv__icon--tatsunootoshigo {
  inset-block-end: 19%;
  inset-inline-end: 19%;
  max-inline-size: 39px;
}

.l-mv__icon--kujira {
  inset-block-end: 45%;
  inset-inline-end: 5%;
  max-inline-size: 65px;
}

.l-intro {
  position: relative;
  margin-block-start: -35px;
  padding-inline: calc(25 * var(--fluid-ratio-min));
  text-align: center;
}

.l-intro__text {
  inline-size: min(68%, 383px);
  margin-inline: auto;
}

.l-intro__button {
  display: inline grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 10px;
  align-items: center;
  inline-size: min(100%, 538px);
  padding: 12px 15px;
  background-color: var(--color-yellowscale-100);
  border-radius: calc(infinity * 1px);
  box-shadow: 0 5px 0 var(--color-yellowscale-200);
}

.l-intro__button::before {
  content: '';
}

.l-intro__button::after {
  content: '';
  justify-self: end;
  inline-size: 17px;
  aspect-ratio: 1;
  background: var(--arrow-bottom) no-repeat center / contain;
}

.l-intro__button-text {
  inline-size: min(100%, 388px);
  margin-inline: auto;
}